.container-paquete{
    max-width: 100%;
    display: flex;
}

.content-paquete{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-paquete{
    width: 30%;
    display: flex;
    flex-direction: column;
}