.seccion{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.container-tabla{
    width: 100%;
    margin-top: 9rem;
}

.content-tabla{
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-tabla table{
    background-color: #f8f9fa;
    width: 100%;
    border-spacing: 3rem;
}

.content-tabla table td, table th{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

}

.seccion button{
    margin-top: 3rem;
    width: 14%;
    height: 4rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
}